<div class="container">
<p class="text-center h1">ようこそ、ながのCAKEへ!</p>
<p class="text-center">このサイトは、ケーキ販売のECサイトになります。</p>
<p class="text-center">会員でない方も商品の閲覧はできますが、</p>
<p class="text-center">購入には会員登録が必要になります。</p>
</div>

<p class="h2 ml-5">新着商品</p>
